.home-container {
  display: grid;
  padding: 0rem 8rem;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
  min-height: 60vh;
  border-top: 1px solid grey;
}
.sidebar {
  border-right: 1px solid grey;
  padding-top: 2rem;
}
.sidebar > * {
  padding: 0.3rem;
  color: grey;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.sidebar .active {
  background-color: rgba(105, 105, 145, 0.064);
  border-right: 3px solid blue;
}
.content {
  border-right: 1px solid grey;
  padding-right: 20px;
}
.search {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  margin-bottom: -0.7rem;
}
.search input {
  width: 32%;
  height: 100%;
  background-color: #f0f0f0;
  padding-left: 0.5rem;
  border-style: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.search button {
  background-color: #f8de4b;
  border: none;
  height: 100%;
  width: 3%;
}

@media screen and (max-width: 960px) {
  .home-container {
    grid-template-columns: 1fr;
    padding: 1rem;
    border-top: none;
  }
  .sidebar {
    border: none;
  }
  .content {
    border: none;
  }
  .bag {
    border: none;
  }
  .search input {
    width: 90%;
  }
  .search button{
    width: 10%;
    /* border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; */
  }
  .search {
    width: 90%;
    margin: 0 auto;
  }
}
